@{
    var userId = User.FindFirst(ClaimTypes.NameIdentifier)?.Value;
    var balance = TempData["Balance"] ?? "0.00";

    if (User.IsInRole("Admin"))
    {
        <a class="dropdown-item active" asp-action="Super" asp-controller="User">Dashboard</a>
    
       // <a class="dropdown-item" asp-action="List" asp-controller="User" class="w-100 btn btn-lg btn-primary">View Users</a>
        <a class="dropdown-item" asp-action="Add" asp-controller="Role" class="w-100 btn btn-lg btn-primary">Create Role</a>
        <a class="dropdown-item" asp-action="List" asp-controller="Role">List Of Roles</a>
    
        <a class="dropdown-item" asp-action="Add" asp-controller="Category" class="w-100 btn btn-lg btn-primary">Create Category</a>
        <a class="dropdown-item" asp-action="List" asp-controller="Category">List Of Categories</a>
   
        <a class="dropdown-item" asp-action="Add" asp-controller="Produce" class="w-100 btn btn-lg btn-primary">Create Produce</a>
        <a class="dropdown-item" asp-action="List" asp-controller="Produce">List Of Produce</a>
  
       // <button><a class="dropdown-item" asp-action="Add" asp-controller="Role" class="w-100 btn btn-lg btn-primary">Create Role</a></button><br>
        <!-- <a class="dropdown-item" asp-action="Delete" asp-controller="Role">Delete Role</a> -->
        @* <a class="dropdown-item" asp-action="Update" asp-controller="Role">Update Role</a> *@
    
        <a class="dropdown-item" asp-action="Add" asp-controller="Manager">Create Manager</a>
        <a class="dropdown-item" asp-action="List" asp-controller="Manager">List Of Managers</a>
   
        @* <a class="dropdown-item" asp-action="Delete" asp-controller="Manager">Delete Manager</a>
        <a class="dropdown-item" asp-action="Update" asp-controller="Manager">Update Manager</a> *@

        <a class="dropdown-item" asp-action="List" asp-controller="Farmer">View All Farmers</a>
        <a class="dropdown-item" asp-action="Pending" asp-controller="Farmer">Pending Farmers</a>
        <a class="dropdown-item" asp-action="Approved" asp-controller="Farmer">Approved Farmers</a>
        <a class="dropdown-item" asp-action="Declined" asp-controller="Farmer">Declined Farmers</a>

        <a class="dropdown-item" asp-action="List" asp-controller="Customer">List Of Customers</a>
    
         @* <a class="dropdown-item" asp-action="" asp-controller="" asp-route-id="@userId">Wallet Balance</a> *@
    
    }
    else if (User.IsInRole("Manager"))
    {
        <a class="dropdown-item active" asp-action="Manager" asp-controller="User">Dashboard</a>
          @* <span id ="CompanyBalance"> 0.00</span> *@

        <a class="dropdown-item" asp-action="Details" asp-controller="Manager" asp-route-id="@userId">View Profile</a>
        <a class="dropdown-item" asp-action="Update" asp-controller="Manager" asp-route-id="@userId">Update Profile</a>
        <a class="dropdown-item" asp-action="List" asp-controller="Farmer">View Farmers</a>
          <a class="dropdown-item" asp-action="List" asp-controller="Produce">List Of Produce</a>
        <a class="dropdown-item" asp-action="List" asp-controller="Customer">List Of Customers</a>
        <a class="dropdown-item" asp-action="AllDelivered" asp-controller="Transaction">Delivered Transactions</a>
        <a class="dropdown-item" asp-action="AllNotDelivered" asp-controller="Transaction">Undelivered Transactions</a>
        <a class="dropdown-item" asp-action="Approved" asp-controller="Transaction">Approved Transactions</a>
        <a class="dropdown-item" asp-action="Pending" asp-controller="Transaction">Pending Transactions</a>
        <a class="dropdown-item" asp-action="Declined" asp-controller="Transaction">Declined Transactions</a>
   
        @* <a class="dropdown-item" asp-action="Delete" asp-controller="Farmer">Delete Farmer</a>
        <a class="dropdown-item" asp-action="Update" asp-controller="Farmer">Update Farmer</a> *@
    }
    else if (User.IsInRole("Farmer"))
    {
        <a class="dropdown-item active" asp-action="Farmer" asp-controller="User">Dashboard</a>
        <!-- Button trigger modal -->
        <a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <span class="totalItem">0</span>
            <span class="totalPrice">0.00</span>
        </a>
        @* <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModalLg">Large modal</button> *@
        <a class="dropdown-item" asp-action="Details" asp-controller="Farmer" asp-route-id="@userId">View Profile</a>
        <a class="dropdown-item" asp-action="Update" asp-controller="Farmer" asp-route-id="@userId">Update Profile</a>
        <a class="dropdown-item" asp-action="List" asp-controller="Produce" asp-route-id="@userId">Produce List</a>
        <a class="dropdown-item" asp-action="List" asp-controller="Transaction" asp-route-id="@userId">Transaction List</a>
        <a class="dropdown-item" asp-route-id="@userId">Balance: @balance</a>
    }
    else if (User.IsInRole("Customer"))
    {
        <a class="dropdown-item active" asp-action="Customer" asp-controller="User">Dashboard</a>
         <!-- Button trigger modal -->
        <a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <span class="totalItem">0</span>
            <span class="totalPrice">0.00</span>
        </a>
        <a class="dropdown-item" asp-action="Details" asp-controller="Customer" asp-route-id="@userId">View Profile</a>
        <a class="dropdown-item" asp-action="Update" asp-controller="Customer" asp-route-id="@userId">Update Profile</a>
         <a class="dropdown-item" asp-action="List" asp-controller="Product" asp-route-id="@userId">Product List</a>
        <a class="dropdown-item" asp-action="List" asp-controller="Order" asp-route-id="@userId">Orders List</a>
        <a class="dropdown-item" asp-route-id="@userId">Balance: @balance</a>


        <a class="dropdown-item" asp-action="Delete" asp-controller="Customer" asp-route-id="@userId">Fund Wallet</a>
        <a class="dropdown-item" asp-action="Delete" asp-controller="Customer" asp-route-id="@userId">Check Wallet Balance</a>
        <a class="dropdown-item" asp-action="List" asp-controller="Customer" asp-route-id="@userId">Buy Produce</a>
       // <a class="dropdown-item" asp-action="Update" asp-controller="Customer" asp-route-id="@userId">Change Password</a>
    }
}