@{
    var userId = User.FindFirst(ClaimTypes.NameIdentifier)?.Value;
    var balance = TempData["balance"] ?? "0.00";


    
          @* <ul class="list-unstyled ps-0">
            <li class="mb-1">
              <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="true">
                Home
              </button>
              <div class="collapse show" id="home-collapse">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                  <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Overview</a></li>
                  <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Updates</a></li>
                  <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Reports</a></li>
                </ul>
              </div>
            </li>
            <li class="mb-1">
              <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#dashboard-collapse" aria-expanded="false">
                Dashboard
              </button>
              <div class="collapse" id="dashboard-collapse">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                  <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Overview</a></li>
                  <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Weekly</a></li>
                  <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Monthly</a></li>
                  <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Annually</a></li>
                </ul>
              </div>
            </li>
            <li class="mb-1">
              <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#orders-collapse" aria-expanded="false">
                Orders
              </button>
              <div class="collapse" id="orders-collapse">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                  <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">New</a></li>
                  <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Processed</a></li>
                  <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Shipped</a></li>
                  <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Returned</a></li>
                </ul>
              </div>
            </li>
            <li class="border-top my-3"></li>
            <li class="mb-1">
              <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#account-collapse" aria-expanded="false">
                Account
              </button>
              <div class="collapse" id="account-collapse">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                  <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">New...</a></li>
                  <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Profile</a></li>
                  <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Settings</a></li>
                  <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Sign out</a></li>
                </ul>
              </div>
            </li>
          </ul> *@

    if (User.IsInRole("Admin"))
    {
        <a class="dropdown-item active" asp-action="Super" asp-controller="User">Dashboard</a>
    
       // <a class="dropdown-item" asp-action="List" asp-controller="User" class="w-100 btn btn-lg btn-primary">View Users</a>
        <a class="dropdown-item" asp-action="Add" asp-controller="Role" class="w-100 btn btn-lg btn-primary">Create Role</a>
        <a class="dropdown-item" asp-action="List" asp-controller="Role">List Of Roles</a>
    
        <a class="dropdown-item" asp-action="Add" asp-controller="Category" class="w-100 btn btn-lg btn-primary">Create Category</a>
        <a class="dropdown-item" asp-action="List" asp-controller="Category">List Of Categories</a>
   
        <a class="dropdown-item" asp-action="Add" asp-controller="Produce" class="w-100 btn btn-lg btn-primary">Create Produce</a>
        <a class="dropdown-item" asp-action="List" asp-controller="Produce">List Of Produce</a>
        <a class="dropdown-item" asp-action="List" asp-controller="Product">List Of Product</a>
  
       // <button><a class="dropdown-item" asp-action="Add" asp-controller="Role" class="w-100 btn btn-lg btn-primary">Create Role</a></button><br>
       
    
        <a class="dropdown-item" asp-action="Add" asp-controller="Manager">Add Manager</a>
        <a class="dropdown-item" asp-action="List" asp-controller="Manager">List Of Managers</a>
   
        @* <a class="dropdown-item" asp-action="Delete" asp-controller="Manager">Delete Manager</a>
        <a class="dropdown-item" asp-action="Update" asp-controller="Manager">Update Manager</a> *@

        <a class="dropdown-item" asp-action="List" asp-controller="Farmer">View All Farmers</a>
        <a class="dropdown-item" asp-action="Pending" asp-controller="Farmer">Pending Farmers</a>
        <a class="dropdown-item" asp-action="Approved" asp-controller="Farmer">Approved Farmers</a>
        <a class="dropdown-item" asp-action="Declined" asp-controller="Farmer">Declined Farmers</a>

        <a class="dropdown-item" asp-action="List" asp-controller="Customer">List Of Customers</a>
    
         @* <a class="dropdown-item" asp-action="" asp-controller="" asp-route-id="@userId">Wallet Balance</a> *@
    
    }
    else if (User.IsInRole("Manager"))
    {
        <a class="dropdown-item active" asp-action="Manager" asp-controller="User">Dashboard</a>
          @* <span id ="CompanyBalance"> 0.00</span> *@

        <a class="dropdown-item" asp-action="Details" asp-controller="Manager" asp-route-id="@userId">View Profile</a>
        <a class="dropdown-item" asp-action="Update" asp-controller="Manager" asp-route-id="@userId">Update Profile</a>
        <a class="dropdown-item" asp-action="List" asp-controller="Farmer">View Farmers</a>
        <a class="dropdown-item" asp-action="List" asp-controller="Produce">List Of Produce</a>
        <a class="dropdown-item" asp-action="List" asp-controller="Product">List Of Product</a>
        <a class="dropdown-item" asp-action="List" asp-controller="Customer">List Of Customers</a>
        <a class="dropdown-item" asp-action="AllDelivered" asp-controller="Transaction">Delivered Transactions</a>
        <a class="dropdown-item" asp-action="AllNotDelivered" asp-controller="Transaction">Undelivered Transactions</a>
        <a class="dropdown-item" asp-action="Approved" asp-controller="Transaction">Approved Transactions</a>
        <a class="dropdown-item" asp-action="Pending" asp-controller="Transaction">Pending Transactions</a>
        <a class="dropdown-item" asp-action="Declined" asp-controller="Transaction">Declined Transactions</a>
   
        @* <a class="dropdown-item" asp-action="Delete" asp-controller="Farmer">Delete Farmer</a>
        <a class="dropdown-item" asp-action="Update" asp-controller="Farmer">Update Farmer</a> *@
    }
    else if (User.IsInRole("Farmer"))
    {
        <a class="dropdown-item active" asp-action="Farmer" asp-controller="User">Dashboard</a>
        <!-- Button trigger modal -->
        <a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#exampleModal">
          <img src="~/icon/shopping_cart_checkout.svg" style="width: 25%;"/>
            <sup style="background-color: red; border-radius: 10px; color: white; left: -10px; top: -10px;">
              &nbsp;<span class="totalItem">0</span>&nbsp;
            </sup>
            <span class="totalPrice">0.00</span>
        </a>
        @* <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModalLg">Large modal</button> *@
        <a class="dropdown-item" asp-action="Details" asp-controller="Farmer" asp-route-id="@userId">View Profile</a>
        <a class="dropdown-item" asp-action="Update" asp-controller="Farmer" asp-route-id="@userId">Update Profile</a>
        <a class="dropdown-item" asp-action="List" asp-controller="Produce" asp-route-id="@userId">Produce List</a>
        <a class="dropdown-item" asp-action="List" asp-controller="Transaction" asp-route-id="@userId">Transaction List</a>
        <a class="dropdown-item" asp-route-id="@userId">Balance: @balance</a>
    }
    else if (User.IsInRole("Customer"))
    {
        
        <a class="dropdown-item active" asp-action="Customer" asp-controller="User">Dashboard</a>
         <!-- Button trigger modal -->
        <a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#exampleModal">
          <img src="~/icon/shopping_cart_checkout.svg" style="width: 25%;"/>
            <sup style="background-color: red; border-radius: 10px; color: white; left: -10px; top: -10px;">
              &nbsp;<span class="totalItem">0</span>&nbsp;
            </sup>
            <span class="totalPrice">0.00</span>
        </a>
        <a class="dropdown-item" asp-action="Details" asp-controller="Customer" asp-route-id="@userId">View Profile</a>
        <a class="dropdown-item" asp-action="Update" asp-controller="Customer" asp-route-id="@userId">Update Profile</a>
         <a class="dropdown-item" asp-action="List" asp-controller="Product" asp-route-id="@userId">Product List</a>
        <a class="dropdown-item" asp-action="List" asp-controller="Order" asp-route-id="@userId">Orders List</a>
        <a class="dropdown-item" asp-route-id="@userId">Balance: @balance</a>


        <a class="dropdown-item" asp-action="Wallet" asp-controller="Customer" asp-route-id="@userId">Fund Wallet</a>
       
       @* <a class="dropdown-item" asp-action="Update" asp-controller="Customer" asp-route-id="@userId">Change Password</a> *@
    }
}