@model AdminDashboardModel;
@{
  Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
      <div class="col-md-2">
        <div>@await Html.PartialAsync("~/Views/User/Menu.cshtml")</div>
        </div>
    <div class="col-md-10">
         <div class="text-center"><h1>@ViewData["Title"]</h1></div>
<div class="col">
      <div class="col" style="display: flex;">
        <div class="cardicon" style=" background: rgb(118, 193, 62)">
          <div class="cardcolor">
            <div class="cardnumber">@Model.NoOfManagers <a> </a> </div>
            <div class="cardmessage">Total Managers</div>
          </div>
          <img src="/icon/person_add.svg" alt="">
        </div>

        <div class="cardicon" style=" background: rgb(7, 14, 248)">
          <div class="cardcolor">
            <div class="cardnumber">@Model.NoOfPendingFarmers</div>
            <div class="cardmessage">Pending Farmers</div>
          </div>
          <img src="/icon/pending.svg" alt="">
        </div>

        <div class="cardicon" style=" background: rgb(193, 62, 97)">
          <div class="cardcolor">
            <div class="cardnumber">@Model.NoOfCustomers</div>
            <div class="cardmessage">Total Customers</div>
          </div>
          <img src="/icon/person_add.svg" alt="">
        </div>

        <div class="cardicon" style=" background: rgb(193, 182, 62)">
          <div class="cardcolor">
            <div class="cardnumber">@Model.NoOfVerifiedFarmers</div>
            <div class="cardmessage">Verified Farmers</div>
          </div>
          <img src="/icon/verified.svg" alt="">
        </div>
      </div>
</div>


  
        
    </div>
      <div class="col-md-2">
      </div>
</div>







