@model FarmProduceManagement.Models.Dtos.ProduceDto

<div>
    <h4>
        Name : @Model.ProduceName
    </h4>
    <P>
        Quantity : @Model.QuantityToBuy
    </P>
    <P>
        Price : @Model.CostPrice
    </P>
    <P>
        Unit Of Measurement : @Model.UnitOfMeasurement
    </P>
    <P>
        Category : @Model.NameOfCategory
    </P>
   </div>

 