@model FarmProduceManagement.Models.Dtos.ProduceDto

<div>
    <h4>
        Name : @Model.ProduceName
    </h4>
    <P>
        Description : @Model.QuantityAvailable
    </P>
    <P>
        Description : @Model.Price
    </P>
    <P>
        Description : @Model.UnitOfMeasurement
    </P>
    <P>
        Description : @Model.NameOfCategory
    </P>
   </div>

 