@model FarmProduceManagement.Models.Dtos.ProduceDto

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "";
}

<div class="text-center">
    <h1>@ViewData["Title"]</h1>
</div>
<div class="row">
    <div class="col-md-2">
        <div>@await Html.PartialAsync("~/Views/User/Menu.cshtml")</div>
    </div>
    <div class="col-md-10">

        <div>
            <h4>
                Name : @Model.ProduceName
            </h4>
            <P>
                Quantity : @Model.QuantityToBuy
            </P>
            <P>
                Price : @Model.CostPrice
            </P>
            <P>
                Unit Of Measurement : @Model.UnitOfMeasurement
            </P>
            <P>
                Category : @Model.NameOfCategory
            </P>
        </div>



    </div>

</div>

