@model IEnumerable<FarmProduceManagement.Models.Dtos.ProduceDto>
@{
    ViewData["Title"] = "Produce List";
}
<div class="row">
    <div class="col-md-2">
        <div>@await Html.PartialAsync("~/Views/User/Menu.cshtml")</div>
    </div>
    <div class="col-md-10">
        <span class="text-center"><h3>@ViewData["Title"]</h3></span>
        @if(User.IsInRole("Admin") || User.IsInRole("Manager"))
        {
            @await Html.PartialAsync("~/Views/Produce/Manager/List.cshtml")
        }
        else{
            <table class="table table-bordered table-striped table-responsive">
                <thead>
                    <tr>
                        @* <th>Id</th> *@
                        <th>S/N</th>
                        <th>Produce Name</th>
                        @* <th>Quantity</th> *@
                        <th>Price</th>
                        <th>Unit Of Measurement</th>
                        <th>Name Of Category</th>
                        <th>Quantity</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @if(Model.Count() > 0)
                    {
                        var serialNumberCount = 1;
                        foreach (var produce in Model)
                        {
                            var name = "name"+ @produce.Id;
                            var costPrice = "costPrice"+ @produce.Id;
                            var unitOfMeasurement = "unitOfMeasurement"+ @produce.Id;
                            var nameOfCategory = "nameOfCategory"+ @produce.Id;
                            var quantity = "quantity"+ @produce.Id;
                            <tr>
                                <td>@serialNumberCount</td>
                                <td>
                                    @produce.ProduceName
                                    <input type="hidden" id="@name" value="@produce.ProduceName">
                                </td>
                                @* <td>@produce.QuantityToBuy</td> *@
                                <td>
                                    @Math.Round(produce.CostPrice, 4)
                                    <input type="hidden" id="@costPrice" value="@Math.Round(produce.CostPrice, 4)">
                                </td>
                                <td>
                                    @produce.UnitOfMeasurement
                                    <input type="hidden" id="@unitOfMeasurement" value="@produce.UnitOfMeasurement">
                                </td>
                                <td>
                                    @produce.NameOfCategory
                                    <input type="hidden" id="@nameOfCategory" value="@produce.NameOfCategory">
                                </td>
                                <td>
                                    <input type="number" id="@quantity" style="width: 70px" value="1">
                                </td>
                                <td><a id="@produce.Id" class="btn btn-secondary AddToCart">Add to Cart</a></td>
                            </tr>
                            serialNumberCount++;
                        }
                    }
                    else{
                        <tr>
                            <td class="text-center" colspan="5">
                                Not found!
                            </td>
                        </tr>
                    }
                </tbody>

            </table>
        }
        
    </div>
</div>


    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form asp-action="Purchase">
                    <div class="modal-body cartDetals" id="cartDetals">
                
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal-dialog modal-lg">...</div>
    
</div>

@section Scripts {
    
    <script>
        $(document).ready(function(){

            LoadCartItem();

            function LoadCartItem(){
                
                $.ajax({
                    url: '/CartItem/List',
                    method: 'GET',
                    dataType: 'json',
                    success: function(result){
                        // console.log(result.value);
                        let cartHtml = '<table class="table">';
                            cartHtml += '<tr>';
                                cartHtml += '<td>Produce Name</td>';
                                cartHtml += '<td>Quantity</td>';
                                cartHtml += '<td>Price</td>';
                                cartHtml += '<td>Total</td>';
                                cartHtml += '<td>Unit</td>';
                                cartHtml += '<td>Action</td>';
                            cartHtml += '</tr>';
                            $.each(result.value.data, function(index, cart){
                                //console.log(cart);
                                cartHtml += `<tr>
                                    <td>
                                        `+ cart.produce.produceName +`
                                        <input type="hidden" name="ProduceName" value="`+ cart.produce.produceName +`">
                                    </td>
                                    <td>
                                        `+ cart.quantityToBuy +`
                                        <input type="hidden" name="QuantityToBuy" value="`+ cart.quantityToBuy +`">
                                    </td>
                                    <td>
                                        `+ cart.costPrice +`
                                        <input type="hidden" name="CostPrice" value="`+ cart.costPrice +`">
                                    </td>
                                    <td>
                                        `+ cart.quantityToBuy * cart.costPrice +`
                                        <input type="hidden" name="TotalPrice" value="`+ cart.quantityToBuy * cart.costPrice +`">
                                    </td>
                                    <td>
                                        `+ cart.unitOfMeasurement +`
                                        <input type="hidden" name="UnitOfMeasurement" value="`+ cart.unitOfMeasurement +`">
                                    </td>
                                    <td>
                                        <a class="btn btn-warning RemoveFromCart" id="`+ cart.id +`">Remove<a>
                                        <input type="hidden" name="ProduceId" value="`+ cart.id +`">
                                    </td>
                                </tr>`;
                            });
                            cartHtml += `<tr>
                                    <td colspan="3">Total</td>
                                    <td>`+ result.value.totalPrice +`</td>

                                </tr>
                            </table>`;

                        $(".cartDetals").html(cartHtml);
                        $(".totalItem").html(result.value.totalItem);
                        $(".totalPrice").html(result.value.totalPrice);
                    }
                });
            }

            
            $(document).on("click", ".AddToCart", function()
            {
                let produceId = $(this).attr('id');
                let produceName = $("#name"+produceId).val();
                let produceQuantity = $("#quantity"+produceId).val();
                let producePrice = $("#costPrice"+produceId).val();
                let unitOfMeasurement = $("#unitOfMeasurement"+produceId).val();
                let nameOfCategory = $("#nameOfCategory"+produceId).val();

                if(produceQuantity > 0)
                {
                    $.ajax({
                        url: '/CartItem/Add',
                        method: 'POST',
                        data: { ProduceId:produceId, 
                            Name:produceName, 
                            QuantityToBuy:produceQuantity, 
                            CostPrice:producePrice, 
                            UnitOfMeasurement:unitOfMeasurement, 
                            CategoryId:nameOfCategory 
                        },
                        dataType: 'json',
                        success: function(result){
                            // console.log(result);
                            LoadCartItem();
                            alert("Item added successfully");
                            
                        }
                    });
                }
                else
                {
                    alert("Quantity must be greater than 0!");
                }
                
                
            })



            $(document).on("click", ".RemoveFromCart", function()
            {
                let itemId = $(this).attr('id');
                
                $.ajax({
                    url: '/CartItem/Delete',
                    method: 'POST',
                    data: { id:itemId },
                    dataType: 'json',
                    success: function(result){
                        // console.log(result);
                        LoadCartItem();
                        alert("Item deleted successfully");
                    }
                });
            })


        })
    </script>
}