@model FarmProduceManagement.Models.Dtos.TransactionDto
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewData["Title"] = "Transaction Details";

    var name = User.FindFirst(ClaimTypes.Name)?.Value;
    var role = User.FindFirst(ClaimTypes.Role)?.Value;
}


<div class="row">
    <div class="col-md-2">
        <div>@await Html.PartialAsync("~/Views/User/Menu.cshtml")</div>
    </div>
    <div class="col-md-10">
        <h1>@ViewData["Title"]</h1>

     <div>
            <h4>
                Transaction No : @Model.TransactionNum
            </h4>
            <p>
                Name : @name
            </p>
            <P>
                Total Quantity : @Model.TotalQuantity
            </P>
            <P>
                Total Price : @Math.Round(Model.TotalAmount, 4)
            </P>
            <P>
                Date Created : @Model.DateCreated
            </P>
            <P>
                Status : @Model.Status
            </P>
            <table class="table">
                <tr>
                    <th colspan="5">Items</th>
                </tr>
                <tr>
                    <th>Sn</th>
                    <th>Produce Name</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th>Total</th>
                </tr>
                @{

                    var serialNo = 1;
                    foreach (var item in Model.TransactionProduces)
                    {
                        var total = (decimal)item.Quantity * item.Price;
                        <tr>
                            <td>@serialNo</td>
                            <td>@item.Produce.ProduceName</td>
                            <td>@item.Quantity</td>
                            <td>@Math.Round(item.Price, 4)</td>
                            <td>@Math.Round(total, 4)</td>
                        </tr>
                        serialNo++;
                    }
                }
            </table>
        </div>
        @{
            if (role == "Manager" && @Model.Status == TransactionStatus.Pending)
            {
                <div class="">
                    @* <button>Not Approve</button> *@
                    <a class="btn btn-primary" asp-action="Approve" asp-route-id="@Model.Id">Approve</a>
                    <a class="btn btn-warning" asp-action="Decline" asp-route-id="@Model.Id">Decline</a>
                </div>
                <div class=""></div>

            }
            else if (role == "Manager" && @Model.Status == TransactionStatus.Approved)
            {
                <div class="">
                    <a class="btn btn-primary" asp-action="Delivered" asp-route-id="@Model.Id">Delivered</a>
                    <a class="btn btn-warning" asp-action="NotDelivered" asp-route-id="@Model.Id">Undelivered</a>
                </div>
                <div class=""></div>

            }
        }

    </div>
    <div class="col-md-2">
    </div>
</div>



