@model IEnumerable<FarmProduceManagement.Models.Dtos.TransactionDto>
   
    @{Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Transactions";}


<div class="row">
      <div class="col-md-2 border">
        <div>@await Html.PartialAsync("~/Views/User/Menu.cshtml")</div>
        </div>
    <div class="col-md-10 border">
        <div class="text-center"><h1>@ViewData["Title"]</h1></div>
         <div>
        <table class="table">
             <tr>
                    <th>S/N</th>
                    <th>Transaction Number</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th>Status</th>
                    <th>Details</th>
            </tr>
           
                @if(Model.Count() > 0)
                {
                    int serialNumCount = 1;
                   
                   
                    @foreach(var transaction in Model)
                    {
                         <tr>  
                            <td>@serialNumCount</td>
                            <td>@transaction.TransactionNum</td>
                            <td>@Math.Round(transaction.TotalQuantity, 4)</td>
                            <td>@Math.Round(transaction.TotalAmount, 4)</td>
                            <td>@transaction.Status</td>
                            <td><a asp-action="Details" asp-route-id="@transaction.Id">Click</a></td>
                        </tr>
                         serialNumCount ++;
                    }

                   
                }
                
            

        </table>
      
    </div>
        
    </div>
     
</div>





   

    @* <button type="button" id="addProductButton">Add Product</button> *@

  

