@model FarmProduceManagement.Models.Dtos.CustomerDto

@{
    ViewData["Name"] = $"{Model.FirstName} {Model.LastName}";
}
<br />
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "";
}

<div class="text-center">
    <h1>@ViewData["Title"]</h1>
</div>
<div class="row">
    <div class="col-md-2">
        <div>@await Html.PartialAsync("~/Views/User/Menu.cshtml")</div>
    </div>
    <div class="col-md-10">


        <div>
            <h4>
                @ViewData["Name"]
            </h4>
            <div>
                <img src="~/Upload/Images/@Model.ProfilePicture" height="100" width="100">
            </div>
            <br />
            <div>
                <tr>
                    <td><strong>First Name</strong></td>
                    <td>@Model.FirstName</td>
                </tr>
                <br />
                <tr>
                    <td><strong>Last Name</strong></td>
                    <td>@Model.LastName</td>
                </tr>
                <br />
                <tr>
                    <td><strong>Registration Number</strong></td>
                    <td>@Model.RegistrationNumber</td>
                </tr>
                <br />
                <tr>
                    <td><strong>Email</strong></td>
                    <td>@Model.Email</td>
                </tr>
                <br />
                <tr>
                <tr>
                    <td><strong>Address</strong></td>
                    <td>@Model.Address</td>
                </tr>
                <br />
            </div>
            <br />
            <div class="mt-2 text-end">
                <button type="submit" class="btn btn-primary" style="width: 30%">
                    <a asp-action="List" asp-controller="Customer" asp-route-id="@Model.Id">Back</a>
                </button>
            </div>
        </div>
    </div>

</div>

