@model FarmProduceManagement.Models.Dtos.FarmerDto

@{
    @* ViewData["Name"] = $"{Model.FirstName} {Model.LastName}"; *@

    @* var name = $"{Model.FirstName} {Model.LastName}"; *@
}
<br />

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Profile";
}


<div class="row">
    <div class="col-md-2">
        <div>@await Html.PartialAsync("~/Views/User/Menu.cshtml")</div>
    </div>
    <div class="col-md-10" style="">
        <div class="text-center">
            <h1>@ViewData["Title"]</h1>
        </div>
        <div class="" style="width: 40%; margin: auto">
            
            <div class="text-center">
                @* <h4>@name</h4> *@
                <img src="~/Upload/Images/@Model.ProfilePicture" height="100" width="100">
            </div>
            <br />
            <table class="table table-striped">
                <tr>
                    <td><strong>First Name</strong></td>
                    <td>@Model.FirstName</td>
                </tr>
                <tr>
                    <td><strong>Last Name</strong></td>
                    <td>@Model.LastName</td>
                </tr>
                <tr>
                    <td><strong>Registration Number</strong></td>
                    <td>@Model.RegistrationNumber</td>
                </tr>
                <tr>
                    <td><strong>Email</strong></td>
                    <td>@Model.Email</td>
                </tr>
                <tr>
                    <td><strong>Address</strong></td>
                    <td>@Model.Address</td>
                </tr>
            </table>
            @* <br />
            <div class="mt-2 text-end">
                <button type="submit" class="btn btn-primary" style="width: 30%">
                    <a asp-action="List" asp-controller="Farmer" asp-route-id="@Model.Id">Back</a>
                </button>
            </div> *@
        </div>
    </div>

</div>


